@model Disco.Web.Models.Job.CreateModel
<table class="subtleHighlight">
    <tr>
        <td style="width: 50%">
            <h2>
                Device</h2>
            @if (Model.Device == null)
            { 
                <span class="smallMessage">No Device referenced to this Job</span>
            }
            else
            { 
                <span><strong>Serial Number:</strong> @Html.ActionLink(Model.Device.SerialNumber, MVC.Device.Show(Model.Device.SerialNumber))</span><br />
                <span><strong>Name:</strong> @Model.Device.ComputerName</span><br />
                <span><strong>Model:</strong> @Model.Device.DeviceModel.ToString()</span><br />
                <img alt="Model Image" src="@Url.Action(MVC.API.DeviceModel.Image(Model.Device.DeviceModelId, Model.Device.DeviceModel.ImageHash()))" />
            }
        </td>
        <td style="width: 50%">
            <h2>
                User</h2>
            @if (Model.User == null)
            { 
                <span class="smallMessage">No User referenced to this Job</span>
            }
            else
            {
                <span><strong>Id:</strong> @Html.ActionLink(Model.User.Id, MVC.User.Show(Model.User.Id))</span><br />
                <span><strong>Name:</strong> @Model.User.DisplayName</span><br />
                <span><strong>Type:</strong> @Model.User.Type</span>
            }
        </td>
    </tr>
</table>