@{
    Html.BundleDeferred("~/Style/Site");
    Html.BundleDeferred("~/ClientScripts/Core");
}
<!doctype html>
<html>
<head>
    <title>Disco - @CommonHelpers.BreadcrumbsTitle(ViewBag.Title)</title>
    <link rel="shortcut icon" href="/favicon.ico" />
    <meta name="application-name" content="Disco" />
    <meta name="msapplication-starturl" content="/" />
    <meta name="msapplication-tooltip" content="Open Disco" />
    @Html.BundleRenderDeferred()
    @RenderSection("head", false)
</head>
<body class="layout">
    <div class="page">
        <header>
            <div class="clearfix">
                <div id="heading">
                    <a href="@Url.Action(MVC.Job.Index())">
                        <img src="@Links.ClientSource.Style.Images.Heading_png" alt="DISCO - ICT Asset Management" /></a>
                </div>
                <div id="headerMenu">
                    <span>Welcome @Html.ActionLink(DiscoApplication.CurrentUser.ToString(), MVC.User.Show(DiscoApplication.CurrentUser.Id))</span>
                    @using (Html.BeginForm(MVC.Search.Query(), FormMethod.Get))
                    {
                    
                        @Html.TextBox("term", null, new { accesskey = "s" })
                        <script type="text/javascript">
                            //<!--
                            $(function () {
                                $('#term').watermark('Search').keypress(function (e) {
                                    if (e.keyCode == 13) {
                                        $(this).closest('form').submit();
                                    }
                                }).focus(function () {
                                    $(this).select();
                                });
                            });
                            //-->
                        </script>
                    }
                </div>
            </div>
            <nav>
                <ul id="menu">
                    <li>@Html.ActionLink("Jobs", MVC.Job.Index(), accesskey: "1")
                        <ul>
                            <li>@Html.ActionLink("Devices Ready for Return", MVC.Job.DevicesReadyForReturn())</li>
                            <li>@Html.ActionLink("Device Held Locations", MVC.Job.Locations())</li>
                            <li>@Html.ActionLink("Awaiting User Action", MVC.Job.AwaitingUserAction())</li>
                            <li>@Html.ActionLink("Awaiting Finance", MVC.Job.AwaitingFinance())
                                <ul>
                                    <li>@Html.ActionLink("Accounting Charge", MVC.Job.AwaitingFinanceCharge())</li>
                                    <li>@Html.ActionLink("Accounting Payment", MVC.Job.AwaitingFinancePayment())</li>
                                    <li>@Html.ActionLink("Agreement Breach", MVC.Job.AwaitingFinanceAgreementBreach())</li>
                                    <li>@Html.ActionLink("Insurance Processing", MVC.Job.AwaitingFinanceInsuranceProcessing())</li>
                                </ul>
                            </li>
                            <li>@Html.ActionLink("Awaiting Device Repair", MVC.Job.DevicesAwaitingRepair())</li>
                            <li>@Html.ActionLink("All Open", MVC.Job.AllOpen())</li>
                            <li>@Html.ActionLink("Recently Closed", MVC.Job.RecentlyClosed())</li>
                        </ul>
                    </li>
                    <li class="sep"></li>
                    <li>@Html.ActionLink("Devices", MVC.Device.Index(), accesskey: "2")</li>
                    <li class="sep"></li>
                    <li>@Html.ActionLink("Users", MVC.User.Index(), accesskey: "3")</li>
                    <li class="moveRight">@Html.ActionLink("Public Reports", MVC.Public.Public.Index())</li>
                    <li class="sep"></li>
                    <li>@Html.ActionLink("Configuration", MVC.Config.Config.Index(), accesskey: "0")</li>
                </ul>
                <script type="text/javascript">
                    $(function () {
                        var $menu = $('#menu');
                        $menu.find('li').each(function () {
                            var $menuItem = $(this);
                            var $subMenu = $menuItem.children('ul').first();
                            var subMenuHideToken = null;
                            if ($subMenu.length > 0) {
                                $menuItem.mouseover(function () {
                                    if (subMenuHideToken)
                                        window.clearTimeout(subMenuHideToken);
                                    if (!$subMenu.is(':visible'))
                                        $subMenu.show();
                                }).mouseout(function () {
                                    subMenuHideToken = window.setTimeout(function () {
                                        $subMenu.hide();
                                    }, 250);
                                }).addClass('hasSubmenu');
                            };
                        });
                    });
                </script>
            </nav>
        </header>
        <div id="layout_PageHeading">@CommonHelpers.Breadcrumbs(ViewBag.Title)</div>
        <section id="layout_Page">
            @RenderBody()
        </section>
        <footer>
            Disco v@(Disco.Web.DiscoApplication.Version) @@ @(Disco.Web.DiscoApplication.OrganisationName) | <a
                href="http://discoict.com.au/" target="_blank">discoict.com.au</a> | @Html.ActionLink("Credits", MVC.Public.Public.Credits()) | @Html.ActionLink("Licence", MVC.Public.Public.Licence())
        </footer>
    </div>
</body>
</html>
