@{
    Html.BundleDeferred("~/Style/Site");
    Html.BundleDeferred("~/ClientScripts/Core");
    bool isMaintenanceMode = ViewContext.ViewData.ContainsKey("IsMaintenanceMode");
}
<!DOCTYPE html>
<html>
<head>
    <title>Disco ICT@{if (ViewBag.Title != null)
                  {<text> - @CommonHelpers.BreadcrumbsTitle(ViewBag.Title)</text>}}</title>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?v=20131224c" />
    <meta name="application-name" content="Disco ICT" />
    <meta name="msapplication-starturl" content="/" />
    <meta name="msapplication-tooltip" content="Open Disco ICT" />
    @Html.BundleRenderDeferred()
    @RenderSection("head", false)
</head>
<body class="layout">
    <div class="page">
        <header>
            <div id="heading">
                <a href="@Url.Action(MVC.Public.Public.Index())"><i title="Disco ICT - Public"></i></a>
            </div>
            @if (!isMaintenanceMode)
            {<text>
                <nav>
                    <ul id="menu">
                        <li class="active">@Html.ActionLink("Reports", MVC.Public.Public.Index())</li>
                        <li>@Html.ActionLink("Administration", MVC.Job.Index(), accesskey: "1")</li>
                    </ul>
                </nav>
                </text>}
        </header>
        @if (ViewBag.Title != null)
        {<div id="layout_PageHeading">@CommonHelpers.Breadcrumbs(ViewBag.Title)</div>}
        <section id="layout_Page">
            @RenderBody()
        </section>
        <footer>
            Disco ICT v@(Disco.Web.DiscoApplication.Version) @if (!isMaintenanceMode)
                                                         {<text>@@ @(Disco.Web.DiscoApplication.OrganisationName) | @Html.ActionLink("Credits", MVC.Public.Public.Credits()) | @Html.ActionLink("Licence", MVC.Public.Public.Licence())</text>}
        </footer>
    </div>
    @{ Disco.Services.Plugins.Features.UIExtension.UIExtensions.ExecuteExtensionResult(this); }
</body>
</html>
