@model Disco.Web.Areas.Config.Models.UserFlag.CreateModel
@{
    Authorization.RequireAll(Claims.Config.JobQueue.Create, Claims.Config.JobQueue.Configure);
    ViewBag.Title = Html.ToBreadcrumb("Configuration", MVC.Config.Config.Index(), "User Flags", MVC.Config.UserFlag.Index(null), "Create");
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form" style="width: 450px">
        <table>
            <tr>
                <th>
                    Name:
                </th>
                <td>
                    @Html.EditorFor(model => model.Name)<br />@Html.ValidationMessageFor(model => model.Name)
                </td>
            </tr>
            <tr>
                <th>
                    Description:
                </th>
                <td>
                    @Html.EditorFor(model => model.Description)<br />@Html.ValidationMessageFor(model => model.Description)
                </td>
            </tr>
        </table>
        <p class="actions">
            <input type="submit" class="button" value="Create" />
        </p>
    </div>
    <script type="text/javascript">
        $(function () {
            $('#Name').focus().select();
        });
    </script>
}