@model Disco.Web.Areas.Config.Models.SystemConfig.ActivateModel
@{
    Authorization.Require(Claims.DiscoAdminAccount);

    ViewBag.Title = Html.ToBreadcrumb("Configuration", MVC.Config.Config.Index(), "System", MVC.Config.SystemConfig.Index(), "Activate");
}

<div style="min-height: 300px;">
    <div class="form" style="width: 500px;">
        <h2><i class="fa fa-lg fa-cog fa-spin"></i> Testing Connectivity to Disco ICT Online Services</h2>
    </div>
</div>

<form id="callbackSubmit" action="@Model.CallbackUrl" method="post" data-failedurl="@Url.Action(MVC.Config.SystemConfig.Index())">
    <input type="hidden" name="correlationId" value="@Model.CorrelationId" />
    <input type="hidden" name="deploymentId" value="@Model.DeploymentId" />
    <input type="hidden" name="timestamp" value="@Model.Timestamp" />
    <input type="hidden" name="proof" value="@Model.Proof" />
    <input type="hidden" name="userId" value="@Model.UserId" />
    <input type="hidden" name="callbackUrl" value="@(new Uri(Request.Url, Url.Action(MVC.API.Activation.Begin())))" />
</form>

<script>
    $(function () {
        const callbackForm = $('#callbackSubmit');
        const callbackFailedUrl = callbackForm.attr('data-failedurl');
        const timeout = window.setTimeout(function () {
            alert('A timeout occurred while communicating with Online Services. Please try a different device/browser or try again later.');
            window.location.href = callbackFailedUrl;
        }, 1000 * 18);
        callbackForm.trigger('submit');
    });
</script>
