@model Disco.Web.Areas.Config.Models.DeviceProfile.CreateModel
@{
    Authorization.RequireAll(Claims.Config.DeviceProfile.Create, Claims.Config.DeviceProfile.Configure);
    
    ViewBag.Title = Html.ToBreadcrumb("Configuration", MVC.Config.Config.Index(), "Device Profiles", MVC.Config.DeviceProfile.Index(null), "Create");
}
@using (Html.BeginForm())
{ 
    @Html.ValidationSummary(false)
    <div class="form" style="width: 450px">
        <table>
            <tr>
                <th>
                    Name:
                </th>
                <td>
                @Html.TextBoxFor(model => model.DeviceProfile.Name)<br />@Html.ValidationMessageFor(model => model.DeviceProfile.Name)
                </td>
            </tr>
            <tr>
                <th>
                    Short Name:
                </th>
                <td>@Html.TextBoxFor(model => model.DeviceProfile.ShortName)<br />@Html.ValidationMessageFor(model => model.DeviceProfile.ShortName)
                </td>
            </tr>
            <tr>
                <th>
                    Description:
                </th>
                <td>@Html.TextBoxFor(model => model.DeviceProfile.Description)<br />@Html.ValidationMessageFor(model => model.DeviceProfile.Description)
                </td>
            </tr>
        </table>
        @Html.HiddenFor(model => model.DeviceProfile.ComputerNameTemplate)
        @Html.HiddenFor(model => model.DeviceProfile.ProvisionADAccount)
        @Html.HiddenFor(model => model.DeviceProfile.DistributionType)
        <p class="actions">
            <input type="submit" class="button" value="Create" />
        </p>
    </div>
    <script type="text/javascript">
        $(function () {
            $('#Name').focus().select();
        });
    </script>
}
