@model Disco.Models.Repository.DeviceProfile
@{
    ViewBag.Title = Html.ToBreadcrumb("Configuration", MVC.Config.Config.Index(), "Device Profiles", MVC.Config.DeviceProfile.Index(null), "Create");
}
@using (Html.BeginForm())
{ 
    <div class="form" style="width: 450px">
        <table>
            <tr>
                <th>
                    Name:
                </th>
                <td>
                @Html.TextBoxFor(model => model.Name)<br />@Html.ValidationMessageFor(model => model.Name)
                </td>
            </tr>
            <tr>
                <th>
                    Short Name:
                </th>
                <td>@Html.TextBoxFor(model => model.ShortName)<br />@Html.ValidationMessageFor(model => model.ShortName)
                </td>
            </tr>
            <tr>
                <th>
                    Description:
                </th>
                <td>@Html.TextBoxFor(model => model.Description)<br />@Html.ValidationMessageFor(model => model.Description)
                </td>
            </tr>
        </table>
        <input type="hidden" name="ComputerNameTemplate" value="DeviceProfile.ShortName + '-' + SerialNumber" />
        <input type="hidden" name="ProvisionADAccount" value="True" />
        <p class="actions">
            <input type="submit" class="button" value="Create" />
        </p>
    </div>
    <script type="text/javascript">
        $(function () {
            $('#Name').focus().select();
        });
    </script>
}
