@model Disco.Web.Areas.Config.Models.DeviceProfile.DefaultsModel
@{
    Authorization.Require(Claims.Config.DeviceProfile.ConfigureDefaults);

    ViewBag.Title = Html.ToBreadcrumb("Configuration", MVC.Config.Config.Index(), "Device Profiles", MVC.Config.DeviceProfile.Index(null), "Defaults");

    Html.BundleDeferred("~/ClientScripts/Modules/Disco-PropertyChangeHelpers");
}
<div class="form" style="width: 600px">
    <table>
        <tr>
            <th class="name" style="width: 230px">
                Default Profile:
            </th>
            <td class="value">
                @Html.DropDownListFor(m => m.Default, Model.DeviceProfiles.ToSelectListItems(Model.Default))
                @AjaxHelpers.AjaxLoader()
                <script type="text/javascript">
                    $(function () {
                        document.DiscoFunctions.PropertyChangeHelper(
                            $('#Default'),
                            'Default Profile',
                            '@Url.Action(MVC.API.DeviceProfile.Default())',
                            'id'
                        );
                    });
                </script>
            </td>
        </tr>
        <tr>
            <th class="name">
                Default Add Device Offline Profile:
            </th>
            <td class="value">
                @Html.DropDownListFor(m => m.DefaultAddDeviceOffline, Model.DeviceProfilesAndNone.ToSelectListItems(Model.DefaultAddDeviceOffline))
                @AjaxHelpers.AjaxLoader()
                <script type="text/javascript">
                    $(function () {
                        document.DiscoFunctions.PropertyChangeHelper(
                            $('#DefaultAddDeviceOffline'),
                            'Default Add Device Offline Profile',
                            '@Url.Action(MVC.API.DeviceProfile.DefaultAddDeviceOffline())',
                            'id'
                        );
                    });
                </script>
            </td>
        </tr>
    </table>
</div>
